for_list_format

In [17]:
num=[1,2,3,4,5]
num, type(num)

([1, 2, 3, 4, 5], list)

In [2]:
for i in num:
    print('%d번 '%i,end=' ')

1번  2번  3번  4번  5번

In [18]:
i=0
if i==0:
    print('i는 0이다')
else:
    print('i는 0이 아니다')

i는 0이다

In [19]:
i=10
if i%2==0:
    print(i,'i는 짝수이다')
else:
    print(i,'i는 홀수이다')

10 i는 짝수이다

In [21]:
i=int(input('숫자 입력 '))
if i%2==0:
    print(i,'는 짝수이다')
else:
    print(i,'는 홀수이다')

숫자 입력 5
5 는 홀수이다

In [23]:
sub=['국','영','수','정보']
for i, s in enumerate(sub):
    print(sub[i],end=' ')

국 영 수 정보

In [95]:
sub=['국','영','수','정보']
for i, s in enumerate(sub):
    if sub[i]=='정보':
        print(i+1,'교사',sub[i],'합격')
    else:
        print(i+1,'교사',sub[i],'불합격')

1 교사 국 불합격
2 교사 영 불합격
3 교사 수 불합격
4 교사 정보 합격

List

In [38]:
juso=' 인천광역시 중구 참외로 116 창의관'

In [28]:
juso

' 인천광역시 중구 참외로'

In [30]:
type(juso)

str

In [31]:
len(juso)

13

In [39]:
add=juso.strip()

In [33]:
juso

' 인천광역시 중구 참외로'

In [40]:
add

'인천광역시 중구 참외로 116 창의관'

In [41]:
len(add)

20

In [ ]:
ad=add.

In [45]:
add.startswith('인천')

True

In [46]:
add.endswith('서울')

False

In [47]:
add.endswith('관')

True

format

In [48]:
s='A is {},{}'
pr=s.format('사과','배')
print(pr)

A is 사과,배

In [49]:
info_1=' 학교:{},학번:{}이름:{}'
pr=info_1.format('인천여상',30115,'최고은')
print(pr)

 학교:인천여상,학번:30115이름:최고은

문제30부터 50까지 중에서 홀수만 출력

In [87]:
for i in range(30,51):
    if i%2!=0:
        print(i)

31
33
35
37
39
41
43
45
47
49

문제2 아이디(문자)를 입력받아 동일하면
    안녕하세요
    회원가입

In [98]:
sub=list(map(str,input('ID   ').split('/')))
for i, s in enumerate(sub):
    if sub[i]=='aaa':
        print(sub[i],'환영합니다')
    else:
        print(sub[i],'회원가입')

ID   zzz
zzz 회원가입

문제3 입력예) 인천정보산업고/30105/김장민 입력받기
    학교:인천정보산업고
    학년:30105
    이름:김장민

In [63]:
stu=list(map(str,input('내용 입력  ').split('/')))

내용 입력  인천정보산업고/30105/김장민 입력받기

In [64]:
stu

['인천정보산업고', '30105', '김장민 입력받기']

문제4 숫자데이터 5개를 입력받아
    합계
    평균

In [121]:
sum=list(map(int,input('내용 입력  ').split()))

내용 입력  2 2 2 2 2

In [122]:
sum

[2, 2, 2, 2, 2]

In [123]:
toan=0
for i in sum:
    toan+=i
    print(i)
print('합계',toan)
print('평균',len(sum)/toan)

2
2
2
2
2
합계 10
평균 0.5

문제5